@import url('https://fonts.googleapis.com/css2?family=Clash+Display&family=Satoshi&display=swap');

* {
  padding: 0;
  margin: 0;
}
.main-div {
    max-width: 80%;
    display: flex;
    justify-self: center;
    justify-content: center;
}

:root {
  --font-primary: 'Clash Display', sans-serif;
  --font-secondary: 'Satoshi', sans-serif;
  --text-color: #2A254B;
}